<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React - Template</title>
    <!--<script src="../../css/main.css"></script>-->
    <script src="../../js/react.min.js"></script>
    <script src="../../js/react-dom.min.js"></script>
    <script src="../../js/browser.min.js"></script>
</head>
<body>

<div id="container"></div>


<script type="text/babel">
    var Check = React.createClass({

        getInitialState: function () {
            return {
                editing: true,
            }
        },

        edit: function () {
            this.setState({editing: false})
        },

        save: function () {
            var val = this.refs.textArea.value;
            this.props.update(val, this.props.index)
            this.setState({editing: true})
        },

        remove: function () {
            this.props.remove(this.props.index)
        },
        normal: function () {
            return (
                    <div>
                        <h3>{this.props.children}</h3>
                        <button onClick={this.edit}>Edit</button>
                        <button onClick={this.remove}>Remove</button>
                    </div>
            );
        },

        onEdit: function () {
            return (
                    <div>
                        <textarea ref='textArea' defaultValue={this.props.children}></textarea>
                        <button onClick={this.save}>Save</button>
                    </div>
            );
        },

        render: function () {
            if (this.state.editing)
                return this.normal();

            else
                return this.onEdit();
        }
    });

    var Board = React.createClass({
        getInitialState: function () {
            return ({
                comments: [

                ]
            });
        },

        eachComment : function (item, i) {
            return (<Check key={i} index={i} edit={this.editComment} remove={this.removeComment} update={this.updateComment} >{item}</Check>);

        },
        addComment : function (newText) {
          var arry = this.state.comments;
          arry.push(newText);
          console.log(arry);
          this.setState({ comments : arry});
        },

        removeComment : function (i) {
            var arry = this.state.comments;
            arry.splice(i,1);
            this.setState({comments : arry});
        },

        editComment : function (i, text) {
          var arry = this.state.comments;
          arry[i] = text;
          this.setState({comments : arry});

        },

        updateComment : function (newText, i) {
            debugger;
            var arry = this.state.comments;
            arry[i] = newText;
            this.setState({comments : arry});

        },

        render: function () {
            return (
                <div>
                    <button onclick={this.addComment(null,'sd')} className="button-info create" >Add New</button>
                    <div className="board">
                        {
                            this.state.comments.map(this.eachComment)
                        }
                    </div>
                </div>
            );
        }

    });


    ReactDOM.render(
            <Board/>,
        document.getElementById('container')
    );

</script>

</body>
</html>